* {
  margin: 0;
}
.table-1 {
  background: red;
  border-radius:3px;
  border-collapse: collapse;
  margin: auto;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  font-family: Comic Sans MS;
}
.table-1 th {
  color:#ffffff;;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  vertical-align:middle;
}
thead, tfoot {
  font-size: 21px;
  background:linear-gradient(-50deg,#ff512f,#7d0773,#20aadb,#31eef5);
  background-size:320% 200%;
  animation:Gradient 15s ease infinite;
}
.table-1 tr {
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
.table-1 tr:hover td {
  background:#16b9f5;
  color:#FFFFFF;
}
.table-1 tr:nth-child(odd) td {
  background:#EBEBEB;
}
.table-1 tr:nth-child(odd):hover td {
  background:#077ed9;
}
.table-1 td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1); 
}
@keyframes Gradient{0%{background-position:0 50%}50%{background-position:100% 50%}100%{background-position:0 50%}}
